<div class="fly-footer" id="f">
    <p><a href="http://www.javaclimb.com" target="_blank">小师爱学习</a> 2023 &copy; <a href="http://www.xsaxc.com" target="_blank">xsaxc.com 出品</a></p>
    <p>
        <a onclick="mzsm()">免责申明</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=2946364160&site=qq&menu=yes" target="_blank" style="color: red">侵权举报</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=2946364160&site=qq&menu=yes" target="_blank">广告合作</a>
        <a href="https://blog.csdn.net/weixin_46585492" target="_blank">站长博客</a>
        <script type="text/javascript" src="https://js.users.51.la/19685055.js"></script>
    </p>
    Copyright © 2023 小师爱学习 版权所有
</div>
